.AuthPage{
    min-height: 100vh;
    background: radial-gradient(at 47.92760660924319% 49.75649705123235%, #405e78 0px, transparent 50%), radial-gradient(at 0.9192308918445965% 93.92648014876536%, #47666e 0px, transparent 50%), radial-gradient(at 97.90047448900025% 3.7836575007387996%, #4f6b61 0px, transparent 50%) #000000;
    mix-blend-mode: var(--_mesh-gradient-blend-mode);
}

/* Element design */
/* .form-heading{
    text-align: center;
    font-size:x-large;
    font-weight:lighter;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}


.grid-body{
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form-div{
    box-sizing: border-box;
    width: 300px;
    min-height:375px;
    padding: 2rem 2rem;
    background-color:#ffffff20;
}
form{
    box-sizing: border-box; 
}

input{
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 5px;
    padding-right:5px;
    max-width: 100%;
    height: 2rem;
    background-color: #1f1f1f00;
    border: 0.1rem solid #682e8b;
    border-radius: 0.4rem;
    color: rgb(226, 226, 226);
} */